// src/app/shared/components/sidebar/sidebar.component.html
<aside class="app-sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <button class="collapse-btn" (click)="toggleSidebar()">
      <i class="fa" [class.fa-angle-left]="!isCollapsed" [class.fa-angle-right]="isCollapsed"></i>
    </button>
  </div>

  <div class="nav-container">
    <ul class="nav-list">
      <li *ngFor="let item of navItems" 
          [routerLink]="item.route" 
          routerLinkActive="active"
          [class.active]="item.active"
          class="nav-item">
        <i class="nav-icon" [class]="item.icon"></i>
        <span class="nav-title" *ngIf="!isCollapsed">{{ item.title }}</span>
      </li>
    </ul>
  </div>

  <div class="sidebar-footer" *ngIf="!isCollapsed && currentUser">
    <div class="user-info">
      <div class="user-name">{{ currentUser.name }}</div>
      <div class="user-role">{{ currentUser.role }}</div>
    </div>
  </div>
</aside>